<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org">
<head
  th:replace="common/head :: head_fragment(title = '配送情報詳細', scripts = ~{::script}, links = ~{::link})"></head>
<body>
  <div class="container">
    <h1>配送情報詳細</h1>
    <div th:object="${delivery}">
		 <div class="row mx-md-n5">
        <div class="col-2 pt-3 border bg-light">配送先小学校</div>
        <div class="col pt-3 border">
          <p th:text="*{school}"></p>
        </div>
      </div>
       <div class="row mx-md-n5">
        <div class="col-2 pt-3 border bg-light">メニュー</div>
        <div class="col pt-3 border">
          <p th:text="*{menu}"></p>
        </div>
      </div>
       <div class="row mx-md-n5">
        <div class="col-2 pt-3 border bg-light">オーダー数</div>
        <div class="col pt-3 border">
          <p th:text="*{number_of_order}"></p>
        </div>
      </div>
       <div class="row mx-md-n5">
        <div class="col-2 pt-3 border bg-light">ステータス</div>
        <div class="col pt-3 border">
          <p th:text="*{status}"></p>
        </div>
      </div>
    </div>
    <br />
    <div class="text-center">
      <a th:href="@{/delivery/{delivery_id}/edit(delivery_id=*{delivery_id})}" class="btn btn-primary" >　編集　</a>
      <a th:href="@{/delivery/{delivery_id}/delete(delivery_id=*{delivery_id})}" class="btn btn-secondary">　削除　</a>
      <a href="/delivery/list" class="btn btn-secondary">一覧に戻る</a>
    </div>
  </div>
</body>
</html>