

.wrapper{
   
}

.orange{
    width: 400px;
    height: 99px;
    border-top: 1px solid transparent;
    background-color: #FFCE7a;
}

.fruitsbox{
    width: 160px;
    height: 60px;
    display: flex;
    margin-top: 20px;
    margin-left: 220px;
    background-color: white;
}

.muscat{
    width: 40px;
    height: 40px;
    margin-top: 10px;
    margin-left: 10px;
    background-color: #c2ffc8;
}

.ponch{
    width: 400px;
    height: 250px;
    display: flex;
}

.soda{
    width: 150px;
    height: 250px;
    background-color: #9DDDF4;
}

.melon{
    width: 250px;
    height: 250px;
    background-color: #c2ffc8;
}

.clear{
    margin: 40px 60px 40px 40px;
    
}

.peach{
    height: 40px;
    width: 140px;
    border: solid 5px white;
    background-color: #ffc2c5;
}

.peach2{
    height: 40px;
    width: 140px;
    margin: 10px 0;
    border: solid 5px white;
    background-color: #ffc2c5;
}

.grape{
    width: 400px;
    height: 100px;
    background-color: #BEA5FF;
}

@media screen and (max-width: 479px) {

    .orange{
        width: 200px;
        height: 200px;
    }

    .fruitsbox{
        width: 60px;
        height: 159px;
        display: block;
        margin: 20px auto;
        border-top: 1px solid transparent;
    }

    .ponch{
        display: block;
        height: 308px;
    }

    .soda{
        width: 200px;
        height: 100px;
    }

    .melon{
        width: 200px;
        height: 208px;
        border-top: 1px solid transparent;
        border-bottom: 1px solid transparent;
    }

    .clear{
        margin-top: 20px;
        margin-left: 30px;
    }

    .grape{
        width: 200px;
        position:static;
    }
}